{% load static %}

<script src="{% static "Home_App/vendor/purecounter/purecounter_vanilla.js"%}"></script>
<script src="{% static "Home_App/vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>
<script src="{% static "Home_App/vendor/glightbox/js/glightbox.min.js"%}"></script>
<script src="{% static "Home_App/vendor/isotope-layout/isotope.pkgd.min.js"%}"></script>
<script src="{% static "Home_App/vendor/swiper/swiper-bundle.min.js"%}"></script>
<script src="{% static "Home_App/vendor/waypoints/noframework.waypoints.js"%}"></script>
<script src="{% static "Home_App/js/main.js"%}"></script>