{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>NOT FOUND (404)</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Css links -->
  {% include "include/css_link.html" %}

</head>

<body>


  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1 style="color: #29cc61;">NOT FOUND (404)</h1>
      <h2>Please <span>Try Again</span></h2>

    </div>
  </header>
  <!-- End Header -->


  {% comment %} include JS Files {% endcomment %}
  {% include "include/js_link.html" %}


</body>
</html>